@{
}
@model IQueryable<string>

<div class="d-grid gap-2 m-2">
@*     <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Products" asp-route-productTypes="">Color:</a>
 *@
    @foreach (string pt in Model ?? Enumerable.Empty<string>())
    {
        <a class="btn @(pt == ViewBag.SelectedProductColor ? "btn-primary" : "btn-outline-secondary")" asp-controller="Home" asp-action="Products" asp-route-productTypes="@pt" asp-route-pageNum="1">@pt</a>
    }
</div>