@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="text-center" style="margin-top: 50px;">
    <h6 class="ribeye-regular" style="font-size: xx-large;">Add New User</h6>
</div>
<br/><br/>

@* Add  asp-for="" for each label  *@
<form method="post">
    <label class="ribeye-regular">First Name:</label><br/>
    @* <input required /> <br/><br/> *@
    @* <input asp-for="FirstName" required /> <br/><br/> *@
    
    <label class="ribeye-regular">Last Name:</label><br/>
    <input required /> <br/><br/>
    @* <input asp-for="LastName" required /> <br/><br/> *@
    
    <label class="ribeye-regular">User Role:</label><br/>
    <select>
        <option>User</option>
        <option>Admin</option>
    </select><br/><br/>
    @* <select asp-for="Role" required> *@
    @*         <option value="Admin">Admin</option> *@
    @*         <option value="Admin">User</option> *@
    @* </select><br /><br /> *@
    
    <label class="ribeye-regular">Birth Date:</label><br/>
    <input required /> <br/><br/>
    @* <input asp-for="BirthDate" /> <br/><br/> *@
    
    <label class="ribeye-regular">Country of Residence:</label><br/>
    <input required /> <br/><br/>
    @* <input asp-for="Country" /> <br/><br/> *@
    
    <label class="ribeye-regular">Gender:</label><br/>
    <input required /> <br/><br/>
    @* <input asp-for="Gender" required /> <br/><br/> *@
    
    <label class="ribeye-regular">Age:</label><br/>
    <input required /> <br/><br/>
    @* <input asp-for="Age" required /> <br/><br/> *@
    
    <label class="ribeye-regular">User Id:</label><br/>
    <input required /> <br/><br/>
    @* <input asp-for="UserId" required /> <br/><br/> *@
    
    <button type="submit" class="ribeye-regular btn btn-add">Submit New User</button>
</form>

