@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model Customer

<div class="text-center" style="margin-top: 50px;">
    <h6 class="ribeye-regular" style="font-size: xx-large;">User Information</h6>
</div>
<br/><br/>

@* Add  asp-for="" for each label  *@
<form method="post">
    <input type="hidden" asp-for="CustomerId" />
    
    <label class="ribeye-regular">First Name:</label><br/>
    <input asp-for="FirstName" required/> <br/><br/>

    <label class="ribeye-regular">Last Name:</label><br/>
    <input asp-for="LastName" required/> <br/><br/>

    @* <label class="ribeye-regular">User Role:</label><br/> *@
    @* $1$ <select asp-for="" required> #1# *@
    @* <select required> *@
    @*     <option value="Admin">Admin</option> *@
    @*     <option value="User">User</option> *@
    @* </select><br/><br/> *@

    <label class="ribeye-regular">Birth Date:</label><br/>
    <input asp-for="BirthDate"/> <br/><br/>

    <label class="ribeye-regular">Country of Residence:</label><br/>
    <input asp-for="CountryOfResidence"/> <br/><br/>

    <label class="ribeye-regular">Gender:</label><br/>
    <input asp-for="Gender" required/> <br/><br/>

    <label class="ribeye-regular">Age:</label><br/>
    <input asp-for="Age" required/> <br/><br/>
    
    <label class="ribeye-regular">Email:</label><br/>
    <input asp-for="Email" /><br/><br/>

    @* <label class="ribeye-regular">User Id:</label><br/> *@
    @* $1$ <input asp-for="" required/> #1# *@
    @* <input required /> <br/><br/> *@

    <button type="submit" class="ribeye-regular btn btn-add">Submit User</button>
</form>

