@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="text-center" style="margin-top: 50px;">
    <h1 class="display-2 ribeye-regular">Welcome to <br />Aurora's Bricks!</h1>
</div>
