@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@* confirmation page that lets you know if your task was added
 *@
<div class="row">
    <h2 class="ribeye-regular">Your Product Has Been Updated!</h2>
    <br /><br />
    <div>
        <a class="btn btn-cart" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </div>
    <br /> <br /> <br />
    <div>
        <a class="btn btn-cart" asp-area="" asp-controller="Admin" asp-action="AdminProducts">View List</a>
    </div>
</div>