@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2 class="text-center">Are you sure you want to delete?</h2>

<div class="container">
    <div class="row">
        <div class="col">
            <a asp-area="" asp-controller="Admin" asp-action="Products" class="btn btn-custom btn-cancel">Cancel</a>
        </div>
        <div class="col">
            <a asp-area="" asp-controller="Admin" asp-action="Products" class="btn btn-custom btn-confirm">Confirm</a>
        </div>
    </div>
</div>

