@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <h2 class="ribeye-regular">New User Has Been Updated!</h2>
    <br /><br />
    <div>
        <a class="btn btn-cart" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </div>
    <br /><br/><br/>
    <div>
        <a class="btn btn-cart" asp-area="" asp-controller="Admin" asp-action="AdminUsers">View List</a>
    </div>
</div>