@{
    Layout = null;
}

<div class="row">
    <h2>New User Has Been Added!</h2>
    <br /><br />
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    <br />
    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AdminUsers">View List</a>
</div>