@{
    ViewData["Title"] = "About Us - Aurora's Bricks";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-8">
        <h1 class="text-center ribeye-regular">About Us</h1>
        <hr class="my-4">

        <div class="row Montserrat-font">
            <div class="col-md-6">
                <div class="text-center">
                    <img src="https://cdn.thewirecutter.com/wp-content/media/2023/07/lego-set-adults-2048px-5125-3x2-1.jpg" alt="Lego Story" class="img-fluid rounded mb-4">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <img src="~/Screenshot 2024-04-08 123458.png" alt="Second Image" class="img-fluid rounded mb-4">
                </div>
            </div>
        </div>

        <p>
            Welcome to Aurora's Bricks, where creativity meets playfulness! Our journey began with a deep love for Lego bricks, fostered by our founder, Aurora Brickwell, a passionate influencer dedicated to spreading the joy of building and creating with Legos.
        </p>

        <p>
            At Aurora's Bricks, we are committed to curating products that not only entertain but also educate and inspire. From our timeless building sets to our themed collections, each Lego set tells a unique story, waiting to be uncovered and brought to life by builders of all ages.
        </p>

        <p>
            Join us in our mission to ignite imaginations and foster creativity through the joy of building with Aurora's Bricks. Let's continue to build, explore, and imagine together!
        </p>

        <p>
            Aurora's Bricks isn't just about selling products; it's about building a community of like-minded individuals who share a passion for creativity and exploration. Through our online forums, workshops, and events, we provide a space where Lego enthusiasts can connect, exchange ideas, and inspire one another. Whether you're a seasoned builder or just starting out, there's a place for you in the vibrant community of Aurora's Bricks.
        </p>
    </div>
</div>

